@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 600px 650px 300px 300px 350px 420px 220px;
    min-width: 200px;
    margin: 0 0;
  }

  .menu_nav {
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }

  nav {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: #0f1418;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
  }

  header {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  section.description {
    margin: 10px;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  section.product-photo {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  aside {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  section.customer-reviews {
    margin: 20px 0;
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    flex-direction: column;
  }

  section.contact-form {
    margin: 20px 0;
    grid-column: 1 / 4;
    grid-row: 7 / 8;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }


  footer {
    grid-column: 1 / 4;
    grid-row: 8 / 9;
    background-color: #0F1418;
    display: flex;
    align-items: center;
  }

  .img_footer {
    height: 100%;
  }

  footer > div {
      align-items: center;
      text-align: center;
      color: #ffffff;
      font-family: "fredoka_light";
      text-transform: uppercase;
      flex: 2 1 50px;
  }
  footer > div > p {
      margin: 0;
  }
  footer > div > img {
    height: 20px;
}
}
