@font-face {
    font-family: fugaz_one;
    src: url(/assets/fonts/FugazOne-Regular.ttf);
}

@font-face {
    font-family: fredoka_light;
    src: url(/assets/fonts/Fredoka-Light.ttf);
}

@font-face {
    font-family: fredoka_semibold;
    src: url(/assets/fonts/Fredoka-SemiBold.ttf)
}

* {
    margin: 3px 3px;
    box-sizing: border-box;
    font-family: Arial;
}

body {
  background-color: #ffffff;
}

.container {
    margin: 5% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 300px 300px 300px 300px 300px 100px;
    grid-gap: 10px;
  }

.container > * {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: #0F1418;
}

.img_nav {
    height: 100%;
}

.menu_nav {
    font-family: fredoka_light;
    color: #ffffff;
}

.panier_img {
    height: 2em;
}


header {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

section.description {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

section.product-photo {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

aside {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

section.customer-reviews {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}

section.contact-form {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
}

footer {
    grid-column: 1 / 4;
    grid-row: 7 / 8;
}






